body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  color:#5d6f75;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}



.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.block{
  height: 7em;
  border: 2px solid white;
}

.past {
  background-color: #ebebeb;
}

.present {
  background-color:#a6f0f9;
}

.future {
  background-color: #d6f5ff; 
}

.block-hour{
  height: 100%;
  border-right: 2px solid white;
  padding: 10px;
}

.block-events{
  white-space: pre-wrap;
  height: 100%;
  font-size: 16px;
  padding: 10px;
  border-right: 2px solid white;
}

textarea{
  height: 100%;
  width:100%;
  font-size: 16px;
  padding: 10px;
  background: transparent;
  border: none;
  resize: none;
  color:#5d6f75;
  border-left: 1px solid black;
}

.block-save{
  height: 100%;
  padding: 10px;
  border: none;
  background-color: #5d6f75;
}

.block-save:hover{
  background-color:  #00a2ff;
}

.fas{
  color: white;
}



